<form enctype="multipart/form-data" method="POST">
    <fieldset>
        <legend>
            {{ name }}
        </legend>
        {% for field in fields %}
        <p>
            <label for="{{ field["name"] }}">{{ field["placeholder"] }}</label>
            <input {% for attr in field %} {{ attr }}="{{ field[attr] }}" {% end for %}>
        </p>
        {% end for %}
        <p class="err">
        </p>
        <p>
            <input type="submit" value="{{ name }}">
        </p>
    </fieldset>
</form>
