<form enctype="multipart/form-data" method="POST">
    <fieldset>
        <legend>
            {{ name }}
        </legend>
        <p class="form_top">{{ top }}</p>
        {% for field in fields %}
        <p class="input">
            <label for="{{ field["name"] }}">{{ field["placeholder"] }}</label>
            <input {% for attr in field %} {{ attr }}="{{ field[attr] }}" {% end for %}>
        </p>
        {% end for %}
        <p class="err">{{ err }}</p>
        <p>
            <input type="submit" value="{{ submit }}">
        </p>
        <p class="form_bottom">{{ bottom }}</p>
    </fieldset>
</form>
