 <section class="comments">
    <h1 class="divider-bottom">Comments</h1>
    {% if user_id not in [-1, None] %}
    <div class="clearfix page-split margin-bottom">
        <form class="page-split threequarters left-onequarter" action="/comment/create" method="POST">
            <p>
                <input type="hidden" name="targetid" value="{{ target_id }}">
                <input type="hidden" name="targettype" value="{{ type }}">
                <textarea id="comment-field" class="full-width" type="text" name="comment" placeholder="Your new comment..."></textarea>
            </p>
            <p class="align-right">
                <span class="muted gap-right" id="counter"><span>500</span> characters left</span>
                <input class="button blue" type="Submit">
            </p>
        </form>
    </div>
    <div class="clearfix"></div>
    {% end if %}
    {% if comments %}
    <div class="comment-container page-split">
        {% for i in comments %}
            <article class="post clearfix">
                <figure class="avatar page-split onequarter left">
                    <figcaption class="caption">
                        <a target="_blank" href="/profile/{{ i['author'] }}">
                            {{ i['author'] }}
                        </a>
                        <br>
                        <span class="time muted">
                            {{ i['date'] }}
                        </span>
                    </figcaption>
                </figure>
                <section class="post-content page-split threequarters right">
                    <p>
                        {{ i['content'] }}
                    </p>
                </section>
            </article>
        {% end for %}
    </div>
    {% end if %}
</section>