        </div> <!-- end of #content -->
        <footer>
            <div id="footerbar">
                <a href="/privacy">
                    Privacy Policy
                </a>
                
                <a href="/terms" class="pr">
                    Terms of Use
                </a>
            </div>
            <div id="valid">
                <img src="/static/images/html5.png" alt="Valid HTML5!">
                <img src="/static/images/css3.png" alt="Valid CSS3!">
            </div>
        </footer>
        <script type="text/javascript" src="/static/js/forms.js"></script>
    </body>
</html>
