{% include global/header.html %}
<section class="hero">
    <hgroup class="page-width">
        <h1>Terms and Conditions</h1>
    </hgroup>
</section>
<article class="page-width clearfix">
  <section class="page-split twothirds">
    <h2>
    By joining this site, you agree to the following terms and conditions of use.
    </h2>
    <p>
    1. You will not post derogatory comments about other users.
    </p>
    <p>
    2. You will not post pictures of, or post comments related to cats.
    </p>
    <p>
    3. You will not attempt to break or screw with the website in any way, including SQL injection. 
    </p>
    <p>
    4. You will not attempt to break into other user accounts.
    </p>
    <p>
    5. You agree that any injury caused in any way by our product is not our fault, and it is your responsibility to pay for hospital bills, replacement limbs and/or legal bills.
    </p>
    <p>
    6. You also agree that you will not use these products for any purposes prohibited by Australian law, including, without limitation, the development, design, manufacture or production of missiles, or nuclear, chemical or biological weapons.
    </p>
    <p>
    7. Failure to read the terms in full before logging in will result in Nicky kneecapping you. YOU HAVE BEEN WARNED!
    </p>
    <p>
    </p>
    <p>

    </p>



    <p>
    Failure to follow these rules may (or may not) result in banning, kicking, or suspension of your account. Also, DW says thanks for actually reading this page. Apparently you're pretty cool.
    </p>
  </section
</article>
{% include global/footer.html %}
    
    
    
    
    
    
    
    
    
    