/* GENERAL */
html {
    position: relative;
    top: -10px;
}

body {
    width:960px;
    margin: 0 auto;
}

/* CONTENT */
div#content {
    position: relative;
    top: -20px;
}

/* HEADER */
header img#banner {
    width: 960px;
    height: auto;
}

/* NAV */
nav {
    position: relative;
    top:-26px;
    height: 20px;
}

nav ul.first {
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li.first a.first {
    padding: 5px 15px;
    
}

/* FOOTER */
footer div#footerbar {
    background-color: #061E5C;
    height:23px;
}

footer div#footerbar a {
    padding: 5px 15px;
    position: relative;
    top: 2px;
}

footer div#valid img {
    margin: 10px 0 0 0;
    height:100px;
    width:auto;
}
