    {% include global/header.html %}
<section class="hero">
    <hgroup class="page-width">
        <h1>Privacy</h1>
    </hgroup>
</section>
<article class="page-width clearfix">
  <section class="page-split twothirds">
    <p>
    As a legit social networking site, we will hand out your details to whoever we want.
    Kthx.
    </p>
    <p>
    ~Privacy Team
    </p>
  </section>
</article>
{% include global/footer.html %}
    
    
    
    
    
    
    
    
    
    
    