{% run title="Classes" %}
{% include /global/header.html %}

{% run fields = [
("Name", (["sortable:alphanumeric"])),
("Year", (["sortable:numeric", "filterable"])),
("Key", ("")),
] %}

{% if user.state == 1 %}
    {{ form("Join a class",
        [(1, "Key", "key")],
        err=err,
        bottom=success,
        top="Type the class key in to join the class"
    ) }}
    {% run classes=[(c.name, c.year) for c in classes] %}
    {{ table("Classes", "You are not currently in any classes.", fields[:2], classes) }}
{% else %}
    {{ form("Create a Class", [
        (1, "Name", "name", ("value", name)),
        (1, "Year", "year", "number", ("min", 7), ("max", 12), ("value", year)),
        (0, "Key", "key")
    ],
    top="The key is a password students can use to add themselves to a group. Leave it blank to have one randomly generated",
    err=err, bottom=success) }}
    {% run classes=[(c.name, c.year, c.key) for c in classes] %}
    {{ table("Classes", "You are not currently in any classes", fields, classes, ["autosort:1", "autofilter"]) }}
{% end if %}

{% include /global/footer.html %}